<html>
  <head>
    <title>Strada: Help</title>
    <%= partial 'public/partials/_head.html.erb' %>
  </head>
  <body>
    <p class='icon'>
      <a href='/'><img src='img/icon.png'></a>
    </p>
    <p>
      <h1>Strada: Help</h1>
    </p>
    <p>
      This bot is powered by Strava and posts your Strava activities to Discord.
      It is not made by, nor is officially affiliated with <a target="_blank" href="https://www.strava.com">Strava</a>.
    </p>
    <%= partial 'public/partials/_footer.html.erb' %>
  </body>
</html>

