---
http_interactions:
- request:
    method: post
    uri: https://discord.com/api/users/@me/channels
    body:
      encoding: UTF-8
      string: '{"recipient_id":"747821172036599899"}'
    headers:
      Authorization:
      - Bearer token
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Bucket:
      - 3f1ecb90c49938368145d0f8794b2707
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '999'
      X-Ratelimit-Reset:
      - '1715547903'
      X-Ratelimit-Reset-After:
      - '1'
    body:
      encoding: UTF-8
      string: '{"id":"1136112917264224338","type":1,"last_message_id":"1239316331216502804","flags":0,"recipients":[{"id":"747821172036599899","username":"dblockdotorg","avatar":"24415fe0f25f0833e38aa53861c2f53a","discriminator":"0","public_flags":4194304,"flags":4194304,"banner":null,"accent_color":null,"global_name":"dblock","avatar_decoration_data":null,"banner_color":null,"clan":null}]}

        '
  recorded_at: Sun, 12 May 2024 21:05:03 GMT
- request:
    method: post
    uri: https://discord.com/api/channels/1136112917264224338/messages
    body:
      encoding: UTF-8
      string: '{"content":"test"}'
    headers:
      Authorization:
      - Bearer token
      Content-Type:
      - application/json
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Bucket:
      - 3df15bae86f6647dd4dfcbd5c6949480
      X-Ratelimit-Limit:
      - '5'
      X-Ratelimit-Remaining:
      - '4'
      X-Ratelimit-Reset:
      - '1715547905'
      X-Ratelimit-Reset-After:
      - '1'
    body:
      encoding: UTF-8
      string: '{"message": "Cannot send messages to this user", "code": 50007}'
  recorded_at: Sun, 12 May 2024 21:05:03 GMT
recorded_with: VCR 6.0.0
